/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Typography
 * 2.0 - Header, sidebar and footer
 * 3.0 - Content
 *	3.1 - Pages
 *	3.2 - Posts
 *	3.3	- Widgets
 *	3.4 - Comments
  *	3.5 - Lists
  * 3.6 - Forms
 * 4.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
 */
// Colors
$teal: #266e7f;
$darkBlue: #0c253a;
$red: #bb3333;
$gold: #e8940c;
$darkGray: #afafaf;
$lightGray: #dfdfdf;
$green: #168216;
$blue: #3377ff;

// Insert styles here
.center {
	text-align: center;
}

/**
 * 2.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
 */

 //Insert styles here

.hero {
	height: 600px;
}

.grayBackground {
	background-color: $darkGray;
	text-align: left;
	color: white;
}

.heroWrapper {
	width: 40%;
	float: right;
	text-align: left;
	margin-right: 50px;
	padding: 20px;
}

.textBar {
	color: #ffffff;
	text-align: center;
	font-size: 40pt;
	background-color: $teal;
	padding-top: 40px;
	padding-bottom: 40px;
}

.icon-column {
	float: left;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width: 33%;
	padding: 50px;
}

img.icon-image {
	margin-bottom: 25px;
}

.posts-recent {
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

/**
 * 3.1 Pages
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.2 Posts
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.3 Widgets
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.5 Lists
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.6 Forms
 * ------------------------------------
 */

// Insert styles here

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: $red;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: large;
	display: inline-block;
	padding: 11px 24px 10px;
	text-decoration: none;
}



/**
 * 4.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here